# Binaries
Handout/Socket Coding Examples/C Raw Sockets/sender
Handout/Socket Coding Examples/C Raw Sockets/reciever

# IDE Settings
.vscode/

# Post-Lecture Material (Directory)
Handout/Post-Lecture/
